---
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { render } from "astro:content";
import { getCollection } from "astro:content";

export const prerender = true;

export const getStaticPaths = ( async () => {
    const pages = await getCollection("artwork", ({data}) => !data.isDraft )
    return pages.map((page) => ({
        params: {slug: page.id},
        props: {page}
    }));
}) satisfies GetStaticPaths;

const {page} = Astro.props
const {title, gallery, featured, year} = page.data
console.log(page.data)

---

<Layout {title}>

    <h1 class="text-7xl font-(family-name:--font-black-han)">{title}</h1>
    <Image src={featured.image}  alt={featured?.alt ?? "no alt"} layout="constrained"/>

</Layout>

