---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
import {Icon} from "astro-icon/components"
import { getCollection } from "astro:content";
import { getSiteSettings } from "../lib/settings";
import type { MenuItem } from "@/content.config";

import image1 from "../assets/images/origami-a1.png";
import image2 from "../assets/images/origami-a2.png";
import image4 from "../assets/images/origami-a4.png";
import image5 from "../assets/images/origami-a5.png";

const frames = [
    {
        src: image4,
        alt: "keyframe1",
        imageClass: "w-[400px] h-[440px] object-cover",
        title: "Installation",
        href: "/artworks/medium/installation",
    },
    {
        src: image2,
        alt: "keyframe2",
        imageClass: "w-[400px] object-contain",
        title: "Papermaking/Printmaking",
        href: "/artworks/medium/papermaking/printmaking",
    },
    {
        src: image1,
        alt: "keyframe3",
        imageClass: "w-[440px] object-contain",
        title: "Painting",
        href: "/artworks/medium/painting",
    },
    {
        src: image5,
        alt: "keyframe4",
        imageClass: "w-[400px] h-[380px] object-cover",
        title: "Community Project",
        href: "/artworks/medium/community-project",
    },
];

// Get site settings
const siteSettings = await getSiteSettings();
---

<Layout
    x-data=`{
    activeIndex: 1,
    frames: 4,
    handleScroll ({target}) {
        const height = (target.scrollHeight - target.clientHeight)
        const ratio = Math.ceil(target.scrollTop/height * this.frames)
        this.activeIndex = ratio === 0 ? 1 : ratio;
        }
    }`
    @scroll="handleScroll"
>
    <div
        class="sticky py-8 sm:py-24 snap-center top-[40px] grid grid-cols-1 grid-rows-[4rem_500px_2rem] sm:grid-rows-[2rem_400px_2rem] place-items-center text-foreground"
    >
        {
            frames.map((frame, index) => (
                <section
                    class="col-start-1 row-start-2 sm:flex items-center"
                    x-show={`activeIndex === ${index + 1}`}
                    x-transition
                >
                    <Image
                    width={480}
                        class={frame.imageClass}
                        src={frame.src}
                        loading="eager"
                        alt={frame.alt}
                    />
                    <h2 class="text-3xl font-semibold transition-colors duration-300">
                        <a href={frame.href}>{frame.title}</a>
                    </h2>
                </section>
            ))
        }
        <button class="row-start-1 inline-flex gap-2 items-center text-[1rem] self-end sm:self-center" x-show={`activeIndex > 1`} @click="activeIndex--">
              Previous <Icon name="hugeicons:circle-arrow-up-01" class="w-7 h-7" />
          </button>
        <button class="row-start-3 inline-flex gap-2 items-center text-[1rem]" x-show={`activeIndex < ${frames.length}`} @click="activeIndex++">
            Next <Icon name="hugeicons:circle-arrow-down-01" class="w-7 h-7" />
        </button>
    </div>
    <div class="h-[50vh]"></div>
</Layout>
